################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/OpenglViewer/FileContentIndex/6cc12880-c71f-4eb6-8ed5-2e6423da402b.vsidx
/.vs
